@{ 
    Layout = "~/_authentication.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 7. Users and Awards</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/App.js"></script>
</head>
<body>
    <div class="header">
        <div class="header__container">
            <h1 class="header__title">Users and Awards</h1>
            <h2 class="header__subtitle">Perform a feat and get a reward!</h2>
        </div>
    </div>
    <div class="fixed-top text-right">
        <span class="text-info">Hello, @User.Identity.Name</span>
        <button class="btn-sm btn-info" id="logoutButton">Exit</button>
    </div>
    @RenderBody()    
</body>
</html>
