<div style="position: fixed; top: 7rem; left: 2rem;">
    <div class="toast border-info" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
        <div class="toast-header text-info">
            <strong class="mr-auto">Message</strong>
        </div>
        <div class="toast-body" id="toast_body">
        </div>
    </div>
</div>
