@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Users and Awards</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/CommonCSS.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script src="~/JS/Common.js"></script>*@
</head>
<body>
    @RenderBody()
</body>
</html>
