@using PL.Web.API
@using Common.Entities
@{
    Layout = "~/_basicLayout.cshtml";

    var userContr = new UsersAPI();
    var awardContr = new AwardsAPI();

    User user1 = new User("Dmitriy", new DateTime(1989, 04, 07));
    User user2 = new User("Anna", new DateTime(1993, 12, 05));

    Award award1 = new Award("Gold");
    Award award2 = new Award("Silver");

    userContr.AddUser(user1);
    userContr.AddUser(user2);
    awardContr.AddAward(award1);
    awardContr.AddAward(award2);

    userContr.AddAwardToUser(user1.Id, award1.Id);
    userContr.AddAwardToUser(user2.Id, award2.Id);

    userContr.UpdateUserById(user1.Id, user1);
    userContr.UpdateUserById(user2.Id, user2);


}

    <div>
        <p>User 1: @user1.Name; @user1.Age years old </p>
        <p>User 2: @user2.Name; @user2.Age years old </p>
    </div>
