/* Clear standard styles */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Required styles */

.pointer {
	position: relative;
	background: #88B7D5;
    border: 6px solid #C2E1F5;
    color: white;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    margin: 30px auto;

}
.pointer:after, .pointer:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.pointer:after {
	/* border-color: rgba(136, 183, 213, 0); */
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}

.pointer:before {
	/* border-color: rgba(194, 225, 245, 0); */
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}

body {
    background-color: #333333;
    padding: 20px 10px;
}